@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #66753B;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    font-family: "Tiny5", sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 20px;
}

button {
    font-family: "Tiny5", sans-serif;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    background-color: #43324B;
    color: #000000;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

button:hover {
    background-color: #92c700;
}

/* CLASSE PARA ESCONDER AS CENAS */
.hidden {
    display: none !important;
}

#main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-scene {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#snake-canvas {
    background-color: #000000;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    border: #43324B solid 10px;
    
}

.game-header {
    font-family: "Tiny5", sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    color: #ffffff;
}

#message {
    font-family: "Tiny5", sans-serif;
    color: #B4F500;
    font-size: 20px;
    margin-bottom: 10px;
}